.root {
    -fx-background-color: linear-gradient(to bottom right, #1a1a2e, #16213e, #3a0ca3);
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #f0f0f0;
}

/* Game Area */
.left-area {
    -fx-background-color: transparent;
}
.game-area{
       -fx-background-color:rgb(16, 24, 41);
    -fx-background-radius: 14;
    -fx-padding: 18;
    
       -fx-border-color: #3b82f6;
     -fx-border-width: 2;
    -fx-border-radius: 14;
}
/* Sidebar */
.sidebar {
    -fx-background-color: linear-gradient(to bottom right, #0b0f1a, #111827);
    -fx-padding:50 20 0 20;
}

/* Modal / Panel */
.modal {
   -fx-background-color: rgb(21, 15, 38);
    -fx-background-radius: 14;
    -fx-padding: 18;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 6);
    -fx-border-color: rgb(12, 61, 89);
     -fx-border-width: 1;
    -fx-border-radius: 14;
}

/* Titles */
.panel-title {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.panel-title-green {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #22c55e;
}
.sub-title{
  
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}
/* Text highlight */
.highlight {
    -fx-text-fill: #facc15;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.life {
    -fx-text-fill: #ef4444;
    -fx-font-size: 18px;
}
.content{
      -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
/* Buttons */
.pause-btn {
    -fx-background-color: linear-gradient(to bottom, #f59e0b, #b45309);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 24;
}

.menu-btn {
    -fx-background-color: linear-gradient(to bottom, #b91c1c, #7f1d1d);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 24;
}

.background-next-btn{
    -fx-padding: 13 20;
     -fx-background-color: rgba(21, 15, 38,0.5);
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 6);
    -fx-border-color: rgb(12, 61, 89);
    -fx-border-radius: 14;
    -fx-background-radius: 14;
}
.next-btn {
    -fx-background-color: rgba(21, 15, 38,0.5);
    -fx-border-color: #ccc;
     -fx-border-width: 1;
    -fx-border-radius: 14;
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-font-size: 16px;
    -fx-padding: 12 24;
    -fx-background-radius: 14;
}
